<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>
<style>

* {

    box-sizing: border-box;
}

.Sales {

    border: 2px solid black;
    min-width: 50%;
    min-height: 270px;
    float: left;
    margin: 0;
}

h1 {

    text-align: center;
}

#btn {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 50px;
}

</style>    
<body>

    <section class="Sales" id="Daily">
        
        <h1>Daily Sales Report</h1>

    </section>
    <section class="Sales" id="Month">

        <h1>Monthly Sales Report</h1>

    </section>
    <section class="Sales" id="Most_Ordered">

        <h1>Most Ordered</h1>

    </section>
    <section class="Sales" id="Dish_Diagram">

        <h1>Dish Diagram</h1>

    </section>
    <section class="Sales" id="btn">

        <a href="/weiter"><button>Place Order</button></a>
        <a href="/k_v"><button>Kitchen</button></a>

    </section>
    
    
    
</body>
</html>