<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>
<style>

* {

    box-sizing: border-box;
}

.Sales {

    border: 2px solid black;
    min-width: 50%;
    min-height: 270px;
    float: left;
    margin: 0;
}

h1 {

    text-align: center;
}

#btn {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 50px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

</style>    
<body>

    <section class="Sales" id="Daily">
        
        <h1>Daily Sales Report</h1>
       <iframe src="/app/BI_reports/Cirkle-Daily.pdf" type="application/pdf" width="100%" height="800px"></iframe>

    </section>
    <section class="Sales" id="Month">

        <h1>Monthly Sales Report</h1>
        <iframe src="/app/BI_reports/Daily.pdf" type="application/pdf" width="100%" height="800px"></iframe>

    </section>
    <section class="Sales" id="Daily">
        
        <h1>Daily Sales Report - Query</h1>
        <table>
            <tr>
                <th>Dish</th>
                <th>Times Sold</th>
                <th>Revenue</th>
            </tr>
                {% for row in daily_report %} 
                    <tr>
                    
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]*row[1]}}</td>
                    
                    </tr>
                {% endfor %}
        </table>
        
    </section>
    <section class="Sales" id="Month">

        <h1>Monthly Sales Report - Query</h1>
       {{ daily_report }}
    </section>
    <section class="Sales" id="btn">

        <a href="/weiter"><button>Place Order</button></a>
        <a href="/k_v"><button>Kitchen</button></a>

    </section>
    
    
    
</body>
</html>